/*// Extra large devices (large desktops, 1440px and up)*/
@media (min-width: 2550px) {
}

/*// Extra large devices (large desktops, 1440px and up)*/
@media (min-width: 1700px) and (max-width: 2099.98px) {
}

/*// Extra large devices (large desktops, 1440px and up)*/
@media (min-width: 1440px) and (max-width: 1699.98px) {
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1439.98px) {
}

/*// Large devices (desktops, 992px and up)*/
@media (max-width: 1199.98px) {
  .beginSliderWrapp .beginSlider {
    margin: 0 -10px;
  }
  .beginSliderWrapp .beginSlider a {
    margin: 10px 10px;
  }
  .navbar-collapse {
    transition: none;
  }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .commonWrapp .commonItemWrapp .commonItem {
    padding: 40px 20px;
  }
  .ecosystem .item a {
    font-size: 16px;
    padding: 10px 20px;
  }
  .Decentralized .itemTop h2,
  .ecosystem h2,
  .Audited .box h2,
  .commonWrapp .commonItemWrapp .commonItem .itemRight h2 {
    font-size: 38px;
  }
  .Decentralized .itemTop h4,
  .Decentralized .itemTop .h4 {
    font-size: 24px;
  }
  .banner .box h1,
  .banner .box .h1 {
    font-size: 51px;
  }
  .banner .box p {
    font-size: 16px;
  }
  .beginSliderWrapp .beginSlider a .textItem h2,
  .beginSliderWrapp .beginSlider a .textItem .h2 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 34px;
  }
  .Audited .box p {
    font-size: 16px;
  }
  .commonWrapp .commonItemWrapp .commonItem .itemLeft img {
    width: 90%;
    margin-bottom: 20px;
  }
}

/*Extra small devices (portrait phones, less than 414px)*/
@media (max-width: 414px) {
}

/*Extra small devices (portrait phones, less than 375px)*/
@media (max-width: 375px) {
}

/*Extra small devices (portrait phones, less than 360px)*/
@media (max-width: 360px) {
}

/*Extra small devices (portrait phones, less than 320px)*/
@media (max-width: 320px) {
}

/* 
2560*1440
2160*1440
1920×1080
1600×900
1536×864
1440×900
1366×768    
1280×720    
1280×800    
1280×1024   
1024×768    
768×1024
 */
